{% extends 'base.html.twig' %}

{% block body_id 'project_new' %}

{% block main %}
    <h1>{{ 'title.project_new'|trans }}</h1>

    {{ include('project/_form.html.twig', {
        form: form,
        button_label: 'label.create_project'|trans,
        include_back_to_home_link: true,
        include_saveAndCreateNew: true
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
